* {
    margin: 0;
    padding: 0;
}

:root {
    --black-olive: #3B413C;
    --white: #FFFFFF;
    --orange: #F2A400;
    font-family: monaco, Consolas, Lucida Console, monospace;
}

.header {
    text-align: center;
    color: var(--black-olive);
}

.header h1 {
    background-color: var(--orange);
    color: white;
}

/* Add background color to the top navigation */
#topnav {
    background-color: var(--orange);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
#topnav a {  
    float: left;
    color: var(--white);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;   
}

/* Change the color of links on hover */
#topnav a:hover {
    background-color: var(--black-olive);
    color: var(--white);
}

/* Add a color to the active/current link */
#topnav a.active {
    background-color: var(--black-olive);
    color: var(--white);
}

.content {
    color: var(--black-olive);
}

.content h1 {
    text-align: center;
}

.hidden {
    display: none;    
}

.image {
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
    margin-bottom: 40px;
}

.image h3 {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.inline-block a:link, a:visited {
    text-decoration: none;
    color: var(--black-olive);
}


#education {
    padding: 20px 0px;
    background-color: var(--white);
}

#psu {
    
}

#languages {
    padding: 20px 0px;
    background-color: var(--white);
}

#lang-block {
    text-align: center;
}

#hobbies {
    padding: 20px 40px;
    background-color: var(--white);
}

#course-toggle {
    cursor: pointer;
}

.footer {
    background-color: var(--orange);
    padding: 250px 40px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 102px;
}

p {
    margin-left: 0px;
    overflow: auto;
    display: block;
}

div {
    /*border: .5px solid #666;*/
}
